{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "classes": true,
    "generators": true
  },
  "rules": {
    "no-use-before-define": 0,
    "no-else-return": 0,
    // Temporarily disabled due to babel-eslint issues:
    "block-scoped-var": 0,
    "padded-blocks": 0,
    "indent": [2, 4, {"SwitchCase": 1}],
    "no-console": 0
  }
}